<%= form_with(model: cuento) do |form| %>

  <div>
    <%= form.label :nombre%><br>
    <%= form.text_field :nombre %><br>
  </div>

  <div>
    <%= form.label :titulo%><br>
    <%= form.text_field :titulo %><br>
  </div>

  <div>
    <%= form.label :spoilers%><br>
    <%= form.check_box :spoilers %><br>
  </div>

  <div>
    <%= form.label :prioridad %><br>
    <%= form.number_field :prioridad, in: -10..10 %><br>
  </div>

  <div>
    <%= form.label :etiquet_ids, "Etiquetas" %><br>
    <%= form.collection_select :etiquet_ids, Etiquet.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>

  <div>
    <%= form.label :picture_ids, "Imágenes" %><br>
    <%= form.collection_select :picture_ids, Picture.order(:nombre), :id, :nombre, {}, multiple: true, class: "form-select" %>
  </div>

  <div>
    <%= form.label :texto %><br>
    <%= form.rich_text_area :texto %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
