<h2>Estas funciones son solo de administrador</h2>

<div class="admin-cuerpo">
    <p class="column">
        <%= link_to "Estados alterados", estadoalterados_path %>
        <br>
        <%= link_to "Etiquetas", etiquets_path%>
        <br>
        <%= link_to "Borrar caché de disco", "/delete_disk_cache" %>
        <br>
        <%= link_to "Borrar caché de navbar", "/delete_navbar_cache" %>
        <br>
        <%= link_to "Borrar toda la cahé de memoria", "/delete_all_cache" %>
        <br>
        <br>
        <%= link_to "Copias de seguridad", "/backup" %>
        <br>
        <br>
        <br>
        <br>
        <%= link_to "Hechizos D&D", dndspells_path %>
        <br>
        <%= link_to "Resetear D&D", "/resetdndspells" %>
        <br>
        <br>
        <br>
        <%=Clase.count%> clases <br>
        <%=Habilidad.count%> habilidades <br>
        <%=Item.count%> ítems <br>
        <%=Mob.count%> mobs <br>

        <% begin
            urlCompleta = "http://"+HTTParty.get('http://whatismyip.akamai.com')
            # si este servidor falla, mirar algún otro de aquí: https://stackoverflow.com/questions/13270042/get-public-remote-ip-address
            %>
            Dirección actual: <a href="<%=urlCompleta%>"><%=urlCompleta%></a> <br>
        <% rescue SocketError%>
            No se puedo establecer la conexión con el servidor para comprobar la ip actual. <br>
        <% end %>
        <br>
        <br>
        <br>
        <%= link_to "Cerrar sesión", "/adminsession/close" %>
    </p>

    <% clases = Clase
        .left_joins(:habilidads)
        .group('clases.id')
        .select('clases.*, COUNT(habilidads.id) AS habilidads_count')
        .order('habilidads_count ASC') %>

    <div class="column">
        <% clases.each_with_index do |clase, index| %>
                <%= clase.habilidads_count %> <%= link_to clase.nombre, clase%> <br>
            <% if index == clases.size / 2-1 %>
                </div>
                <div class="column">
            <% end %>
        <% end %>
    </div>

</div>