<div class="carta-header">
    <p class="carta-number carta-level">
        <%= habil.nivel %>
    </p>

    <%= case habil.tipo
    when 0
        image_tag "red-triangle.png", class: "carta-isactive"
    when 1
        image_tag "blue-circle.png", class: "carta-isactive"
    when 2
        image_tag "orange-diamond.png", class: "carta-isactive"
    when 3
         image_tag "purple-triangle.png", class: "carta-isactive"
    when 4
         image_tag "green-square.png", class: "carta-isactive"
    when 5
         image_tag "yellow-triangle.png", class: "carta-isactive"
    else
         image_tag "white-square.png", class: "carta-isactive"
    end %>

    <%= link_to habil.nombre, habil, class:"carta-title" %>
</div>

<div class="carta-subtitles">
    <% habil.categs.each do |ct| %>
        <%= link_to ct.nombre, ct %>
    <% end %>
    <% habil.mobs.each do |mb| %>
        <%= link_to mb.nombre, mb %>
    <% end %>
</div>

<div class="carta-description">
    <%= habil.efecto %>
</div>
