<%= form_with model: @x do |form| %>
  <div>
    <%= form.label :nombre %><br>
    <%= form.text_field :nombre %>
  </div>
  <br>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>
  <br>

  <div>
    <%= form.label :etiquets, "Etiquetas" %><br>
    <%= form.collection_check_boxes :etiquet_ids, Etiquet.all, :id, :nombre %>
  </div>
  <br>
  
  <div class="form-image">
      <%= render "shared/image", image: @x.image %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>